<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="zxx">
<!--<![endif]-->


<!-- Mirrored from 5.189.146.92/ by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 04 Jun 2018 07:26:32 GMT -->
<!-- Added by HTTrack --><meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->
<head>
    <!--====== USEFULL META ======-->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content= "Pillars Of Governance - Decentralized Scholar Council, Challenge Card, Dynamic Resume, Challenges, POI Rating. Introducing a Hybrid Knowledge Economy powered by ' Desire Lines Of Individuals and Wisdom Of The Crowd ' " />
    <meta name="keywords" content="innovation enterprise challenges,innovation and entrepreneurship challenges,innovation policy challenges for the 21st century,challenges for innovation,innovation global challenges,innovation & design for grand challenges,innovation hub challenges,innovation healthcare challenges,hosting innovation challenges,innovation challenges in large companies,innovation key challenges,innovation challenges logistics,innovation challenges marketing,innovation management challenges,innovation challenges mission innovation,innovation funnel management challenges,innovation challenges new,netflix innovation challenges,innovation challenges online,innovation organizational challenges,open innovation challenges,open innovation challenges 2019,challenges innovation process,innovation system challenges,social innovation challenges,service innovation challenges,innovation team challenges,open innovation technology challenges,challenges to innovation,technology innovation challenges,top innovation challenges,upcoming innovation challenges,world innovation challenges,innovation challenges 2020,online competitions for students,online competition for students 2019,online competitions for students with certificates 2019,online competitions for students in india 2019,online competitions in india,online competition form,online competitions for engineering students,online competition to earn money,online competition for students,online competition for students in india,online competition tayari,online competition and win prizes,online competition and travel contests,online competition app,online competition analysis,online competition architecture,online competition and win money,online art competition,online abacus competition,the competition online free,create an online competition,running an online competition,online competition business,online competition banner,online competition classes,online competition creator,online competition cash prize,online coding competition,online c competition,online competition draw,online competition definition,online debate competition,online drawing competition for students,online competition earn money,online competition games for android,online competition generator,online guitar competition 2019,online game competition for money,online g.k competition,online competition holiday,online handwriting competition 2018,online hacking competition,online handwriting competition,online handwriting competition 2019,online html competition,online hindi competition,online hackathon competition,online competition in india,online competition ideas,online competition india 2019,competition online jobs,online java competition,online javascript competition,online jigsaw competition,online journalism competition,online coding competition job,online karaoke competition,online general knowledge competition,online competition list,online logo competition,online ludo competition,online competition math,online competition music,online competition maker,online competition management,online competition now,online news competition,online quiz competition now,pick n pay online competitions,online competition of painting,online competition of photography,online competition of typing,online vs offline competition,online competitions for school students in india 2019,online competition preparation,online competition platform,online competition programming,online competition prizes,online quiz competition for money,online quiz competition 2019,online quiz competition with certificate 2019,online quiz competition in india with prizes,online competition rules,online competition registration,online competition reviews,online rowing competition,online retail competition,online rap competition,online racing competition,online competition singing,online competition software,online competition sites,online competition scoreboard,online competition scoring system,online competition to win prizes,online competition to win money,online competition to win laptop in india,online competition terms and conditions,online university competition,online competition voting system,online competition video,online vocal competition,online violin competition,online vocabulary competition,online voice competition,online photo competition voting,online competition with prizes,online competition with participation certificate,online competition website,online competition winner generator,online competition win money,online competition worldwide,online competition winners,online competition win trip,online competition wheel,online competition 2019,online competition 2019 india" />

    <!--====== TITLE TAG ======-->
    <title>Scholar Credits | Helping Wisdom Go Viral</title>

    <!--====== FAVICON ICON =======-->
    <link rel="shortcut icon" href="assests/img/sclogo.png" />

    <!--====== STYLESHEETS ======-->
    <link href="assests/css/plugins.css" rel="stylesheet">
    <link href="assests/css/theme.css" rel="stylesheet">
    <link href="assests/css/icons.css" rel="stylesheet">

    <!--====== MAIN STYLESHEETS ======-->
    <link href="css/style.css" rel="stylesheet">
    <link href="assests/css/responsive.css" rel="stylesheet">

    <script src="assests/js/vendor/modernizr-2.8.3.min.js"></script>
    <!--[if lt IE 9]>
        <script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
        <style>
        @media only screen and (max-width: 800px) {
    .logo {
        width : 22% !important;

    }
}
        </style>
</head>

<body data-spy="scroll" data-target=".mainmenu-area" data-offset="90">

    <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!--- PRELOADER -->
    <div class="preeloader">
        <!-- <div class="preloader-spinner"></div> -->
        <img src="assests/img/sclogo_nw.gif" alt="loader" style="width: 100px;margin-left: 636px;margin-top: 278px;">
    </div>

    <!--SCROLL TO TOP-->
    <a href="#scroolup" class="scrolltotop"><i class="fa fa-long-arrow-up"></i></a>

    <!--START TOP AREA-->
    <header class="top-area" id="home">
        <div class="header-top-area" id="scroolup">
            <!--MAINMENU AREA-->
            <div class="mainmenu-area" id="mainmenu-area">
                <div class="mainmenu-area-bg"></div>
                <nav class="navbar">
                    <div class="container">
                        <div class="navbar-header">
                            <a href="#home" class="navbar-brand"><img src="assests/img/sclogo.png" class="logo" width="65" height="65"   alt="logo"></a>
                        </div>
                        <div id="main-nav" class="stellarnav">
                            <ul id="nav" class="nav navbar-nav pull-right">
                              <li><a>Explore</a>
                              <ul class="dropdown-menu">
                                <li><a href="/#challenges">Challenges</a></li>
                                <li><a href="/#brands">Our Partners</a></li>
                                <li><a href="/#faqs">FAQs</a></li>
                                <li><a href="/pricing">Pricing</a></li>
                              </ul>
                            </li>
                                  <li><a>Admin Login</a>
                                  <ul class="dropdown-menu">
                                    <li><a href="/Sdashboard">Company Login</a></li>
                                    <li><a href="#">University Login</a></li>
                                    <li><a href="/Mdashboard">Mentor Login</a></li>
                                  </ul>
                                </li>

                             <li><a href="/dashboard">Solve Challenges</a></li>

                                <li><a >Join Scholar Council</a>
                                <ul class="dropdown-menu">
                                  <li><a href="#">Scholar Council Members</a></li>
                                  <li><a href="#">Become Campus Ambassador</a></li>
                                  <li><a href="#">Order Premium Scholar Kit</a></li>
                                </ul>
                                </li>


                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
            <!--END MAINMENU AREA END-->
        </div>

        <!--WELCOME SLIDER AREA-->
        <div class="welcome-slider-area white font16">
            <div class="welcome-single-slide">
                <div class="slide-bg-one slide-bg-overlay"></div>
                <div class="welcome-area">
                    <div class="container">
                        <div class="row flex-v-center">
                            <div class="col-md-8 col-lg-7 col-sm-12 col-xs-12">
                                <div class="welcome-text">
                                    <h1>Develop a passion for learning new things.</h1>
                                    <p>Solve skill based challenges to get industry exposure and build your talent brand by getting your intelligence benchmarked</p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="welcome-single-slide">
                <div class="slide-bg-two slide-bg-overlay"></div>
                <div class="welcome-area">
                    <div class="container">
                        <div class="row flex-v-center">
                            <div class="col-md-8 col-lg-7 col-sm-12 col-xs-12">
                                <div class="welcome-text">
                                    <h1>Host Challenges to offer Learning & Earning opportunities to Scholars</h1>
                                    <p>Create a Challenge today to offer a learning or earning opportunity to students & professionals worldwide </p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="welcome-single-slide">
                <div class="slide-bg-three slide-bg-overlay"></div>
                <div class="welcome-area">
                    <div class="container">
                        <div class="row flex-v-center">
                            <div class="col-md-8 col-lg-7 col-sm-12 col-xs-12">
                                <div class="welcome-text">
                                    <h1>Wisdom Gets Viral</h1>
                                    <p>Pillars of Governance - Decentralised Scholar Council, Scholar Credit Card, Dynamic CV, Challenges and POI Rating</p>
                                    <div class="home-button">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="welcome-single-slide">
                <div class="slide-bg-four slide-bg-overlay"></div>
                <div class="welcome-area">
                    <div class="container">
                        <div class="row flex-v-center">
                            <div class="col-md-8 col-lg-7 col-sm-12 col-xs-12">
                                <div class="welcome-text">
                                    <h1>Become a campus ambassador</h1>
                                    <p>Win exciting rewards, certificates and cash prizes</p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--WELCOME SLIDER AREA END-->
    </header>
    <!--END TOP AREA-->


    <!--ABOUT AREA-->
    <section class="section-padding about-area" id="about">
        <div class="container">
            <div class="row flex-v-center">
                <div class="col-md-5 col-lg-5 col-sm-12 col-xs-12">
                    <div class="about-content xs-mb50 wow fadeIn">
                        <h3 class="xs-font20 mb30">Education is the foundation upon which we build our future. Let's build it together.</h3>
                        <p>The system of education and learning adopted traditionally don't seem to be working for the people in this technical era where the world is more connected than ever imagined before in history. Slowly, the centralised systems of rewarding intelligence is becoming old-fashioned. Millenials and Professionals in this age need fast growth in their career and instant reward for their work. There is an alarming need to devise a unified system in this globally connected world which works fairly for all. Intelligence thriving around needs to be benchmarked and rewarded properly to create a better future for the students and professionals seeking to fasttrack their career in 21st century.</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 col-md-offset-1 col-lg-offset-1 col-sm-12 col-xs-12">
                    <div class="video-promo-details wow fadeIn">
                        <div class="video-promo-content">
                            <span data-video-id="K7LryNh3n3g" class="video-area-popup mb30"><i class="fa fa-play"></i></span>
                        </div>
                        <img src="assests/img/about/about.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--ABOUT AREA END-->

    <!-- OUR VALUES AREA -->
      <section class="faqs-area padding-100-50" id="values">
          <div class="container">
              <div class="col">
                  <div class="row-md-12 row-lg-12 row-sm-12 row-xs-12">
                      <div class="area-title text-center wow fadeIn">
                          <h2>OUR VALUES</h2>

                      </div>
                  </div>
              </div>
              <div class="col">
                  <div class="row-md-4 row-lg-4 row-sm-6 row-xs-12">

      <h3 class="box-title" data-toggle="collapse" data-target="#about1" style="font-family:verdana;cursor:default;" title="Click for Answer">• Inclusivity & Diversity</h3>
      <div id="about1" class="collapse">
      <p>We believe in inclusivity and diversity across the board, no exceptions. We welcome you no matter your gender preference, race, religion, sexuality, body type, background or beliefs. We’re part dreamer, misfit, and non-conformist.</p>
      <p>We also recognize that living the Scholar’s life is a privilege that not everyone can access. We do our very best to keep our prices fair and have offered scholarships in the past. </p><br>
      </div>

      <h3 class="box-title" data-toggle="collapse" data-target="#200" style="font-family:verdana;cursor:default;" title="Click for Answer">• Community & Belonging</h3>
        <div id="200" class="collapse">
         <p>We believe in building a supportive community for each other in all the places we visit and experience. That means creating a safe, positive place where connectivity and belonging is nurtured.</p>
         <pWhen you come with us, you become part of the Scholar Council. This is a lifetime membership and, just like your relationship with your best friend, you can’t get away from us, even if you try.</p><br>
        </div>

      <h3 class="box-title" data-toggle="collapse" data-target="#300" style="font-family:verdana;cursor:default;" title="Click for Answer">• Growth</h3>
        <div id="300" class="collapse">
        <p>If you’re not growing, you’re dying.
            We’re a community of doers. We want to contribute to the world. Sometimes that means 12-hour days bringing our side hustle to life, and some days that looks like 4 quality hours working with our remote team, or staring into the distance dreaming up the idea for our new novel.
            What’s important to our community is that you want to work hard, and that you value what you’re creating.</p><br>
        </div>

      <h3 class="box-title" data-toggle="collapse" data-target="#400" style="font-family:verdana;cursor:default;" title="Click for Answer">• Commitment</h3>
        <div id="400" class="collapse">
        <p>Don’t worry, we’re not about to get all kumbaya on you. We believe human brains and human hearts make great things when they come together, which is why we put an emphasis on sharing ideas, stories and projects at Scholar Council Meetups & Events.</p>
        <p>We’ve had Scholars build apps together, start businesses together, travel the world together, and even get married and produce some pretty freaking adorable kids for all the Scholar aunties and uncles to spoil together.</p>
        <p>Being part of Scholar Credits  is to make a commitment to be present, and to support one another.</p><br>
          </div>

        <h3 class="box-title" data-toggle="collapse" data-target="#500" style="font-family:verdana;cursor:default;" title="Click for Answer">• Adventure</h3>
          <div id="500" class="collapse">
          <p>Because life is too short! We’re willing to take risks, to walk into the unknown (even if we’re afraid), to explore this big, wild world.</p>
            <p>Whatever flavor your adventure is: we’re down with it. Wanna swim with the whale sharks? We’ll grab our wetsuits. Need a buddy to go to the town’s hottest nightclub? Pass the glitter. Want to walk through fire? We’re behind you.</p><br>
        </div>


        <h3 class="box-title" data-toggle="collapse" data-target="#600" style="font-family:verdana;cursor:default;" title="Click for Answer">• Realness & Authenticity</h3>
            <div id="600" class="collapse">
            <p>YAAAS KWEEEN. Like Ru Paul, realness is important to us. We champion open, honest communication and enjoy cutting through the bullshit.</p>
            <p>We don’t want you to have to pretend to be someone else. We want you to show up and be your whole self (even if you’re not quite sure what your whole self is). Those who want you to be someone you are not can sashay away.</p><br>
          </div>

        <h3 class="box-title" data-toggle="collapse" data-target="#700" style="font-family:verdana;cursor:default;" title="Click for Answer">• Progressive Thinking</h3>
            <div id="700" class="collapse">
            <p>We’re unabashedly progressive in our view on the world. We believe in a connected world and we believe we all have a role to play in moving forward as a global society. We don’t believe in partisanship, nationalism, or protectionism. We have a vision of what’s possible, and it starts with kindness and connection. </p><br>
          </div>


        <h3 class="box-title" data-toggle="collapse" data-target="#800" style="font-family:verdana;cursor:default;" title="Click for Answer">• Creativity</h3>
          <div id="800" class="collapse">
            <p>The poet Rilke said, “Where I create, there I am true.”</p>
            <p>We believe in empowering creative thought. Whether you’re a coder or an author, an architect or an artist, we believe that creativity connects us to a sense of play and curiosity.</p>
            <p>We’re entrepreneurial, creative thinkers.</p><br>
          </div>

        <h3 class="box-title" data-toggle="collapse" data-target="#900" style="font-family:verdana;cursor:default;" title="Click for Answer">• Pioneering</h3>
          <div id="900" class="collapse">
            <p>We believe in being active participants in the remote work revolution and, more than that, rebuilding the way society thinks about work, lifestyles, and how to form community. We don’t have all the answers, but Scholars are at the front lines trying to work them out, together.
          </p><br>
            </div>

              </div>
            </div>

              </section>


    <!--FOOTER AREA-->
    <footer class="footer-area sky-gray-bg relative">

        <div class="footer-bottom-area white">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                        <div class="footer-copyright text-center wow fadeIn">
                            <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> Scholar Credits</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!--FOOER AREA END-->


    <!--====== SCRIPTS JS ======-->
    <script src="assests/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="assests/js/vendor/bootstrap.min.js"></script>

    <!--====== PLUGINS JS ======-->
    <script src="assests/js/vendor/jquery.easing.1.3.js"></script>
    <script src="assests/js/vendor/jquery-migrate-1.2.1.min.js"></script>
    <script src="assests/js/vendor/jquery.appear.js"></script>
    <script src="assests/js/owl.carousel.min.js"></script>
    <script src="assests/js/stellar.js"></script>
    <script src="assests/js/waypoints.min.js"></script>
    <script src="assests/js/jquery.counterup.min.js"></script>
    <script src="assests/js/wow.min.js"></script>
    <script src="assests/js/jquery-modal-video.min.js"></script>
    <script src="assests/js/stellarnav.min.js"></script>
    <script src="assests/js/placeholdem.min.js"></script>
    <script src="assests/js/contact-form.js"></script>
    <script src="assests/js/jquery.ajaxchimp.js"></script>
    <script src="assests/js/jquery.sticky.js"></script>

    <!--===== ACTIVE JS=====-->
    <script src="assests/js/main.js"></script>

    <!--===== MAPS JS=====-->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBTS_KEDfHXYBslFTI_qPJIybDP3eceE-A&amp;sensor=false"></script>
    <script src="assests/js/maps.active.js"></script>
</body>


<!-- Mirrored from 5.189.146.92/ by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 04 Jun 2018 07:27:04 GMT -->
</html>
