<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="zxx">
<!--<![endif]-->


<!-- Mirrored from 5.189.146.92/ by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 04 Jun 2018 07:26:32 GMT -->
<!-- Added by HTTrack --><meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->
<head>
    <!--====== USEFULL META ======-->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content= "Pillars Of Governance - Decentralized Scholar Council, Challenge Card, Dynamic Resume, Challenges, POI Rating. Introducing a Hybrid Knowledge Economy powered by ' Desire Lines Of Individuals and Wisdom Of The Crowd ' " />
    <meta name="keywords" content="innovation enterprise challenges,innovation and entrepreneurship challenges,innovation policy challenges for the 21st century,challenges for innovation,innovation global challenges,innovation & design for grand challenges,innovation hub challenges,innovation healthcare challenges,hosting innovation challenges,innovation challenges in large companies,innovation key challenges,innovation challenges logistics,innovation challenges marketing,innovation management challenges,innovation challenges mission innovation,innovation funnel management challenges,innovation challenges new,netflix innovation challenges,innovation challenges online,innovation organizational challenges,open innovation challenges,open innovation challenges 2019,challenges innovation process,innovation system challenges,social innovation challenges,service innovation challenges,innovation team challenges,open innovation technology challenges,challenges to innovation,technology innovation challenges,top innovation challenges,upcoming innovation challenges,world innovation challenges,innovation challenges 2020,online competitions for students,online competition for students 2019,online competitions for students with certificates 2019,online competitions for students in india 2019,online competitions in india,online competition form,online competitions for engineering students,online competition to earn money,online competition for students,online competition for students in india,online competition tayari,online competition and win prizes,online competition and travel contests,online competition app,online competition analysis,online competition architecture,online competition and win money,online art competition,online abacus competition,the competition online free,create an online competition,running an online competition,online competition business,online competition banner,online competition classes,online competition creator,online competition cash prize,online coding competition,online c competition,online competition draw,online competition definition,online debate competition,online drawing competition for students,online competition earn money,online competition games for android,online competition generator,online guitar competition 2019,online game competition for money,online g.k competition,online competition holiday,online handwriting competition 2018,online hacking competition,online handwriting competition,online handwriting competition 2019,online html competition,online hindi competition,online hackathon competition,online competition in india,online competition ideas,online competition india 2019,competition online jobs,online java competition,online javascript competition,online jigsaw competition,online journalism competition,online coding competition job,online karaoke competition,online general knowledge competition,online competition list,online logo competition,online ludo competition,online competition math,online competition music,online competition maker,online competition management,online competition now,online news competition,online quiz competition now,pick n pay online competitions,online competition of painting,online competition of photography,online competition of typing,online vs offline competition,online competitions for school students in india 2019,online competition preparation,online competition platform,online competition programming,online competition prizes,online quiz competition for money,online quiz competition 2019,online quiz competition with certificate 2019,online quiz competition in india with prizes,online competition rules,online competition registration,online competition reviews,online rowing competition,online retail competition,online rap competition,online racing competition,online competition singing,online competition software,online competition sites,online competition scoreboard,online competition scoring system,online competition to win prizes,online competition to win money,online competition to win laptop in india,online competition terms and conditions,online university competition,online competition voting system,online competition video,online vocal competition,online violin competition,online vocabulary competition,online voice competition,online photo competition voting,online competition with prizes,online competition with participation certificate,online competition website,online competition winner generator,online competition win money,online competition worldwide,online competition winners,online competition win trip,online competition wheel,online competition 2019,online competition 2019 india" />

    <!--====== TITLE TAG ======-->
    <title>Pricing - Scholar Credits</title>

    <!--====== FAVICON ICON =======-->
    <link rel="shortcut icon" href="assests/img/sclogo.png" />

    <!--====== STYLESHEETS ======-->
    <link href="assests/css/plugins.css" rel="stylesheet">
    <link href="assests/css/theme.css" rel="stylesheet">
    <link href="assests/css/icons.css" rel="stylesheet">

    <!--====== MAIN STYLESHEETS ======-->
    <link href="css/style.css" rel="stylesheet">
    <link href="assests/css/responsive.css" rel="stylesheet">

    <script src="assests/js/vendor/modernizr-2.8.3.min.js"></script>
    <!--[if lt IE 9]>
        <script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
        <style>
        @media only screen and (max-width: 800px) {
    .logo {
        width : 22% !important;

    }
}
        </style>
</head>

<body data-spy="scroll" data-target=".mainmenu-area" data-offset="90">

    <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!--- PRELOADER -->
    <div class="preeloader">
        <!-- <div class="preloader-spinner"></div> -->
        <img src="assests/img/sclogo_nw.gif" alt="loader" style="width: 100px;margin-left: 636px;margin-top: 278px;">
    </div>

    <!--SCROLL TO TOP-->
    <a href="#scroolup" class="scrolltotop"><i class="fa fa-long-arrow-up"></i></a>

    <!--START TOP AREA-->
    <header class="top-area" id="home">
        <div class="header-top-area" id="scroolup">
            <!--MAINMENU AREA-->
            <div class="mainmenu-area" id="mainmenu-area">
                <div class="mainmenu-area-bg"></div>
                <nav class="navbar">
                    <div class="container">
                        <div class="navbar-header">
                            <a href="#home" class="navbar-brand"><img src="assests/img/sclogo.png" class="logo" width="65" height="65"   alt="logo"></a>
                        </div>
                        <div id="main-nav" class="stellarnav">
                            <ul id="nav" class="nav navbar-nav pull-right">
                                  <li><a>Admin Login</a>
                                  <ul class="dropdown-menu">
                                    <li><a href="/Sdashboard">Company Login</a></li>
                                    <li><a href="#">University Login</a></li>
                                    <li><a href="/Mdashboard">Mentor Login</a></li>
                                  </ul>
                                </li>

                             <li><a href="/dashboard">Solve Challenges</a></li>

                                <li><a >Join Scholar Council</a>
                                <ul class="dropdown-menu">
                                  <li><a href="#">Scholar Council Members</a></li>
                                  <li><a href="#">Become Campus Ambassador</a></li>
                                  <li><a href="#">Order Premium Scholar Kit</a></li>
                                </ul>
                                </li>


                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
            <!--END MAINMENU AREA END-->
        </div>

        <!--WELCOME SLIDER AREA-->
        <div class="welcome-slider-area white font16">
            <div class="welcome-single-slide">
                <div class="slide-bg-one slide-bg-overlay"></div>
                <div class="welcome-area">
                    <div class="container">
                        <div class="row flex-v-center">
                            <div class="col-md-8 col-lg-7 col-sm-12 col-xs-12">
                                <div class="welcome-text">
                                    <h1>Develop a passion for learning new things.</h1>
                                    <p>Solve skill based challenges to get industry exposure and build your talent brand by getting your intelligence benchmarked</p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="welcome-single-slide">
                <div class="slide-bg-two slide-bg-overlay"></div>
                <div class="welcome-area">
                    <div class="container">
                        <div class="row flex-v-center">
                            <div class="col-md-8 col-lg-7 col-sm-12 col-xs-12">
                                <div class="welcome-text">
                                    <h1>Host Challenges to offer Learning & Earning opportunities to Scholars</h1>
                                    <p>Create a Challenge today to offer a learning or earning opportunity to students & professionals worldwide </p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="welcome-single-slide">
                <div class="slide-bg-three slide-bg-overlay"></div>
                <div class="welcome-area">
                    <div class="container">
                        <div class="row flex-v-center">
                            <div class="col-md-8 col-lg-7 col-sm-12 col-xs-12">
                                <div class="welcome-text">
                                    <h1>Wisdom Gets Viral</h1>
                                    <p>Pillars of Governance - Decentralised Scholar Council, Scholar Credit Card, Dynamic CV, Challenges and POI Rating</p>
                                    <div class="home-button">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="welcome-single-slide">
                <div class="slide-bg-four slide-bg-overlay"></div>
                <div class="welcome-area">
                    <div class="container">
                        <div class="row flex-v-center">
                            <div class="col-md-8 col-lg-7 col-sm-12 col-xs-12">
                                <div class="welcome-text">
                                    <h1>Become a campus ambassador</h1>
                                    <p>Win exciting rewards, certificates and cash prizes</p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--WELCOME SLIDER AREA END-->
    </header>
    <!--END TOP AREA-->
          <!--PRICING AREA-->
            <section class="course-area padding-top" id="pricing">
                    <div class="row">
                        <div class="col-md-8 col-lg-8 col-md-offset-2 col-lg-offset-2 col-sm-12 col-xs-12">
                            <div class="area-title text-center wow fadeIn">
                                <h2 class="xs-font26">Pricing</h2>
                                <h4>Browse Our Extremely Flexible And Competitive Plans</h4>
                            </div>
                        </div>
                    </div>
                    <section class="pricing py-5">
  <div class="container">
    <div class="row">
      <!-- Free Tier -->
      <div class="col-lg-4 xs-12">
        <div class="card mb-5 mb-lg-0">
          <div class="card-body"><br>
            <h5 class="card-title text-muted text-uppercase text-center">Free</h5>
            <h6 class="card-price text-center">$0<span class="period">/month</span></h6>
            <hr>
            <ul class="fa-ul">
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Single User</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>5GB Storage</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Unlimited Public Projects</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Community Access</li>
              <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Unlimited Private Projects</li>
              <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Dedicated Phone Support</li>
              <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Free Subdomain</li>
              <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Monthly Status Reports</li>
            </ul><br>
            <a href="/Sdashboard" class="btn btn-block btn-primary text-uppercase" style="width: 200px;margin:auto;color:black">Sign Up Now</a><br><br>
          </div>
        </div>
      </div>
      <!-- Plus Tier -->
      <div class="col-lg-4 xs-12">
        <div class="card mb-5 mb-lg-0">
          <div class="card-body"><br>
            <h5 class="card-title text-muted text-uppercase text-center">Light</h5>
            <h6 class="card-price text-center">$50<span class="period">/month</span></h6>
            <h6 class="card-price text-center">$600<span class="period">/year</span></h6>
            <hr>
            <ul class="fa-ul">
              <li><span class="fa-li"><i class="fas fa-check"></i></span><strong>5 Users</strong></li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>50GB Storage</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Unlimited Public Projects</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Community Access</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Unlimited Private Projects</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Dedicated Phone Support</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Free Subdomain</li>
              <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Monthly Status Reports</li>
            </ul>
            <a href="/Sdashboard" class="btn btn-block btn-primary text-uppercase" style="width: 200px;margin:auto;color:black">Sign Up Now</a><br>
          </div>
        </div>
      </div>
      <!-- Pro Tier -->
      <div class="col-lg-4 xs-12">
        <div class="card">
          <div class="card-body"><br>
            <h5 class="card-title text-muted text-uppercase text-center">Regular</h5>
            <h6 class="card-price text-center">$100<span class="period">/month</span></h6>
            <h6 class="card-price text-center">$1200<span class="period">/year</span></h6>
            <hr>
            <ul class="fa-ul">
              <li><span class="fa-li"><i class="fas fa-check"></i></span><strong>Unlimited Users</strong></li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>150GB Storage</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Unlimited Public Projects</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Community Access</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Unlimited Private Projects</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Dedicated Phone Support</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span><strong>Unlimited</strong> Free Subdomains</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Monthly Status Reports</li>
            </ul>
            <a href="/Sdashboard" class="btn btn-block btn-primary text-uppercase" style="width: 200px;margin:auto;color:black">Sign Up Now</a><br>
          </div>
        </div>
      </div>
    </div><br><br>
    <div class="col-lg-5 xs-12" style="margin-left:10%">
      <div class="card">
        <div class="card-body"><br>
          <h5 class="card-title text-muted text-uppercase text-center">Premium</h5>
          <h6 class="card-price text-center">$250<span class="period">/month</span></h6>
          <h6 class="card-price text-center">$3000<span class="period">/year</span></h6>
          <hr>
          <ul class="fa-ul">
            <li><span class="fa-li"><i class="fas fa-check"></i></span><strong>Unlimited Users</strong></li>
            <li><span class="fa-li"><i class="fas fa-check"></i></span>150GB Storage</li>
            <li><span class="fa-li"><i class="fas fa-check"></i></span>Unlimited Public Projects</li>
            <li><span class="fa-li"><i class="fas fa-check"></i></span>Community Access</li>
            <li><span class="fa-li"><i class="fas fa-check"></i></span>Unlimited Private Projects</li>
            <li><span class="fa-li"><i class="fas fa-check"></i></span>Dedicated Phone Support</li>
            <li><span class="fa-li"><i class="fas fa-check"></i></span><strong>Unlimited</strong> Free Subdomains</li>
            <li><span class="fa-li"><i class="fas fa-check"></i></span>Monthly Status Reports</li>
          </ul>
          <a href="/Sdashboard" class="btn btn-block btn-primary text-uppercase" style="width: 200px;margin:auto;color:black">Sign Up Now</a><br>
        </div>
      </div>
    </div>
    <div class="col-lg-5 xs-12">
      <div class="card">
        <div class="card-body"><br>
          <h5 class="card-title text-muted text-uppercase text-center">Premium Plus</h5>
          <h6 class="card-price text-center">$6000<span class="period">/year</span></h6>
          <hr>
          <ul class="fa-ul">
            <li><span class="fa-li"><i class="fas fa-check"></i></span><strong>Unlimited Users</strong></li>
            <li><span class="fa-li"><i class="fas fa-check"></i></span>150GB Storage</li>
            <li><span class="fa-li"><i class="fas fa-check"></i></span>Unlimited Public Projects</li>
            <li><span class="fa-li"><i class="fas fa-check"></i></span>Community Access</li>
            <li><span class="fa-li"><i class="fas fa-check"></i></span>Unlimited Private Projects</li>
            <li><span class="fa-li"><i class="fas fa-check"></i></span>Dedicated Phone Support</li>
            <li><span class="fa-li"><i class="fas fa-check"></i></span><strong>Unlimited</strong> Free Subdomains</li>
            <li><span class="fa-li"><i class="fas fa-check"></i></span>Monthly Status Reports</li><br>
          </ul>
          <a href="/Sdashboard" class="btn btn-block btn-primary text-uppercase" style="width: 200px;margin:auto;color:black">Sign Up Now</a><br>
        </div>
      </div>
    </div>
  </div><br><br>
</section>


            </section>
        <!--PRICING AREA END-->




    <!--FOOTER AREA-->
    <footer class="footer-area sky-gray-bg relative">

        <div class="footer-bottom-area white">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                        <div class="footer-copyright text-center wow fadeIn">
                            <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> Scholar Credits</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!--FOOER AREA END-->


    <!--====== SCRIPTS JS ======-->
    <script src="assests/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="assests/js/vendor/bootstrap.min.js"></script>

    <!--====== PLUGINS JS ======-->
    <script src="assests/js/vendor/jquery.easing.1.3.js"></script>
    <script src="assests/js/vendor/jquery-migrate-1.2.1.min.js"></script>
    <script src="assests/js/vendor/jquery.appear.js"></script>
    <script src="assests/js/owl.carousel.min.js"></script>
    <script src="assests/js/stellar.js"></script>
    <script src="assests/js/waypoints.min.js"></script>
    <script src="assests/js/jquery.counterup.min.js"></script>
    <script src="assests/js/wow.min.js"></script>
    <script src="assests/js/jquery-modal-video.min.js"></script>
    <script src="assests/js/stellarnav.min.js"></script>
    <script src="assests/js/placeholdem.min.js"></script>
    <script src="assests/js/contact-form.js"></script>
    <script src="assests/js/jquery.ajaxchimp.js"></script>
    <script src="assests/js/jquery.sticky.js"></script>

    <!--===== ACTIVE JS=====-->
    <script src="assests/js/main.js"></script>

    <!--===== MAPS JS=====-->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBTS_KEDfHXYBslFTI_qPJIybDP3eceE-A&amp;sensor=false"></script>
    <script src="assests/js/maps.active.js"></script>
</body>


<!-- Mirrored from 5.189.146.92/ by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 04 Jun 2018 07:27:04 GMT -->
</html>
