<div class="sidebar-container">
    <div class="sidemenu-container navbar-collapse collapse fixed-menu">
       <div id="remove-scroll">
           <ul class="sidemenu  page-header-fixed" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200" style="padding-top: 20px">
               <li class="sidebar-toggler-wrapper hide">
                   <div class="sidebar-toggler">
                       <span></span>
                   </div>
               </li>
               <li class="sidebar-user-panel">
                   <div class="user-panel">
                       <div class="pull-left image">
                           <img src=".<%= Student.ProfileImage %>" class="img-circle user-img-circle" alt="User Image" />
                       </div>
                       <div class="pull-left info">
                           <p><%= Student.Name %></p>
                       </div>
                   </div>
               </li>
               <li class="nav-item start active open">
                   <a href="/Mhome">
                       <i class="material-icons">dashboard</i>
                       <span class="title">Dashboard</span>
                       <span class="selected"></span>
                   </a>
               </li>
               <li class="nav-item">
                    <a href="/Mstudents">
                        <i class="material-icons">assessment</i>
                        <span class="title">Students</span>
                        <span class="selected"></span>
                    </a>
                </li>
            <li class="nav-item">
                    </li>
            <li class="nav-item">

                </li>

            <li class="nav-item">
                <a href="#" class="nav-link nav-toggle"> <i class="material-icons">code</i>
                    <span class="title"> Challenges</span> <span class="arrow"></span>
                    <span class="label label-rouded label-menu label-success">new</span>
                </a>
                <ul class="sub-menu">
                  <li class="nav-item">
                      <a href="/Mcreatechallenge" class="nav-link "> <span class="title">Create A Challenge</span>
                      </a>
                  </li>
                      <li class="nav-item">
                          <a href="/Mhelp" class="nav-link "> <span class="title">How We Help ?</span>
                          </a>
                      </li>
                  <li class="nav-item">
                          <a href="/Mmychallenges" class="nav-link "> <span class="title">My Challenges</span>
                          </a>
                      </li>
                      <li class="nav-item">
                              <a href="/Mallchallenges" class="nav-link "> <span class="title">All Challenges</span>
                              </a>
                          </li>
                          <li class="nav-item">
                              <a href="/Msubmittedchallenge" class="nav-link "> <span class="title">Evaluate Solutions</span>
                              </a>
                          </li>
                          <li class="nav-item">
                              <a href="/Mparticipatedchallenge" class="nav-link "> <span class="title">Participations</span>
                              </a>
                          </li>

                  </ul>
            </li>

            <li class="nav-item">
                </li>
               <li class="nav-item">
                <a href="/Mcredits" class="nav-link nav-toggle"> <i class="material-icons">attach_money</i>
                    <span class="title">Scholar Credits</span> <span class="arrow"></span>
                </a>
               </li>

               <li class="nav-item">
                <a href="/Mcouncil" class="nav-link nav-toggle"> <i class="material-icons">settings</i>
                <span class="title">Scholar Council</span> <span class="arrow"></span>
                </a>
              </li>


               <li class="nav-item">
                  <a href="/Mclubs" class="nav-link nav-toggle"> <i class="material-icons"></i>
                  <span class="title">Student Clubs</span> <span class="arrow"></span>
                  </a>
              </li>

               <li class="nav-item">
                <a href="/Mabout" class="nav-link nav-toggle"> <i class="material-icons">info</i>
                    <span class="title">Mentor Page</span> <span class="arrow"></span>
                </a>
               </li>
               <li class="nav-item">
                    <a href="/Maccount" class="nav-link nav-toggle"> <i class="material-icons">settings</i>
                        <span class="title">My Account</span> <span class="arrow"></span>
                    </a>
                    </li>
               <li class="nav-item">
               </li>
           </ul>
       </div>
   </div>
</div>
